
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-navy);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.App {
    width: 460px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-icons {
    width: 80px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.game-icons {
    height: 32px;
    margin-bottom: 40px;
}

.icon-x {
    color: var(--light-blue);
}

.icon-o {
    color: var(--light-yellow);
}

.mark-select {
    width: 100%;
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    gap: 18px;

    p:nth-of-type(1) {
        text-transform: uppercase;
        color: #A8BFC9;
    }

    p:nth-of-type(2) {
        text-transform: uppercase;
        color: #A8BFC9;
        mix-blend-mode: normal;
        opacity: 0.5;
    }

}

.mark-buttons-wrapper {
    width: 412px;
    height: 72px;
    background-color: var(--dark-navy);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;

    button {
        width: 50%;
        height: 100%;
        border: none;
        border-radius: 10px;
    }
}

.new-game-buttons {
    margin-top: 40px;
    width: 460px;
    button {
        width: 100%;
        margin-bottom: 20px;
    }
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 460px;
    height: 624px;
}

.game-header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-nested {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.svg-wrapper {
    display: flex;
    justify-content: space-between;
    width: 70px;
    // position: absolute;
    // left: 0;
    // top: 10px;
}

.game-header .turn-tracker {
    padding: 0px 22px;
    box-shadow: inset 0px -4px 0px #10212A;
    width: 140px;
    height: 52px;
    border-radius: 10px;
    box-shadow: inset 0px -4px 0px #10212A;
    position: absolute;
    right: calc(50% - 70px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #A8BFC9;
}

// .reset-button {
//     position: absolute;
//     right: 0;
//     top: 0;
// }

.game-grid {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    svg {
        width: 50%;
        height: 50%
    }
}

.cursor-pointer {
    cursor: pointer;
}

.game-grid > div {
    transition: box-shadow 0.1s linear, background-color 0.1s linear;
}
.grid-box {
    width: 140px;
    height: 140px;
    background-color: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.grid-box-pressed {
    width: 140px;
    height: 140px;
    background-color: #1F3641;
    box-shadow: inset 0px -4px 0px #10212A;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-light-blue {
    width: 140px;
    height: 140px;
    background-color: #31c3bd;
    box-shadow: inset 0px -4px 0px #26928f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-light-yellow {
    width: 140px;
    height: 140px;
    background-color: #f2b137;
    box-shadow: inset 0px -4px 0px #e09a18;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tracker {
    width: 140px;
    height: 72px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.tracker-x {
    background-color: var(--light-blue);
}

.tracker-ties {
    background-color: var(--silver);
}

.tracker-o {
    background-color: var(--light-yellow);
}

.debug {
    color: #FFFFFF;
}

.modal {
    position: fixed;
    // width: 100%;
    height: 266px;
    left: 0;
    right: 0;
    top: calc(50% - 133px);
    background-color: var(--semi-dark-navy);
    z-index: 100;
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 120vw;
    height: 120vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
}

.board-state-announcement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    p {
        white-space: nowrap;
    }
}

.modal-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    align-items: center;
    .button-1 {
        border-radius: 10px;
        font-weight: bold;
        width: 146px;
        height: 52px;
        box-shadow: inset 0px -4px 0px #CC8B13;
    }
    .button-secondary-2 {
        border-radius: 10px;
        font-weight: bold;
        width: 76px;
        height: 52px;
        box-shadow: inset 0px -4px 0px #6B8997;
    }
}

@media(max-width: 500px) {
    .new-game-menu {
        width: 100vw;
        // min-width: 333px;
    }

    .mark-select {
        width: 90vw;
    }

    .mark-buttons-wrapper {
        width: 80vw;
        button {
            width: 50%;
        }
    }
    .new-game-buttons {
        width: 90vw;
    }

    .game-container {
        width: 90vw;
        justify-content: center;
        gap: 20px;
    }

    .game-footer {
        width: 100%;
    }

    .tracker {
        width: calc(80vw / 3);
    }

    .game-grid {
        width: 90vw;
        gap: 5vw;
    }

    .grid-box,.grid-box-pressed {
        width: calc(80vw / 3);
        height: calc(80vw / 3);
    }

    .board-state-announcement p{
        font-size: 24px;
        white-space: nowrap;
    }

    .board-state-announcement svg{
        width: 30px;
        height: 30px;
    }

}