* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-navy);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.App {
  width: 460px;
  height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-game-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-icons {
  width: 80px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-icons {
  height: 32px;
  margin-bottom: 40px;
}

.icon-x {
  color: var(--light-blue);
}

.icon-o {
  color: var(--light-yellow);
}

.mark-select {
  width: 100%;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  gap: 18px;
}

.mark-select p:nth-of-type(1) {
  text-transform: uppercase;
  color: #A8BFC9;
}

.mark-select p:nth-of-type(2) {
  text-transform: uppercase;
  color: #A8BFC9;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.mark-buttons-wrapper {
  width: 412px;
  height: 72px;
  background-color: var(--dark-navy);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
}

.mark-buttons-wrapper button {
  width: 50%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

.new-game-buttons {
  margin-top: 40px;
  width: 460px;
}

.new-game-buttons button {
  width: 100%;
  margin-bottom: 20px;
}

.game-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 460px;
  height: 624px;
}

.game-header {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-nested {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.svg-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70px;
}

.game-header .turn-tracker {
  padding: 0px 22px;
  -webkit-box-shadow: inset 0px -4px 0px #10212A;
          box-shadow: inset 0px -4px 0px #10212A;
  width: 140px;
  height: 52px;
  border-radius: 10px;
  box-shadow: inset 0px -4px 0px #10212A;
  position: absolute;
  right: calc(50% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #A8BFC9;
}

.game-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.game-grid svg {
  width: 50%;
  height: 50%;
}

.cursor-pointer {
  cursor: pointer;
}

.game-grid > div {
  -webkit-transition: background-color 0.1s linear, -webkit-box-shadow 0.1s linear;
  transition: background-color 0.1s linear, -webkit-box-shadow 0.1s linear;
  transition: box-shadow 0.1s linear, background-color 0.1s linear;
  transition: box-shadow 0.1s linear, background-color 0.1s linear, -webkit-box-shadow 0.1s linear;
}

.grid-box {
  width: 140px;
  height: 140px;
  background-color: #1F3641;
  -webkit-box-shadow: inset 0px -8px 0px #10212A;
          box-shadow: inset 0px -8px 0px #10212A;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-box-pressed {
  width: 140px;
  height: 140px;
  background-color: #1F3641;
  -webkit-box-shadow: inset 0px -4px 0px #10212A;
          box-shadow: inset 0px -4px 0px #10212A;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-light-blue {
  width: 140px;
  height: 140px;
  background-color: #31c3bd;
  -webkit-box-shadow: inset 0px -4px 0px #26928f;
          box-shadow: inset 0px -4px 0px #26928f;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-light-yellow {
  width: 140px;
  height: 140px;
  background-color: #f2b137;
  -webkit-box-shadow: inset 0px -4px 0px #e09a18;
          box-shadow: inset 0px -4px 0px #e09a18;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tracker {
  width: 140px;
  height: 72px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
}

.tracker-x {
  background-color: var(--light-blue);
}

.tracker-ties {
  background-color: var(--silver);
}

.tracker-o {
  background-color: var(--light-yellow);
}

.debug {
  color: #FFFFFF;
}

.modal {
  position: fixed;
  height: 266px;
  left: 0;
  right: 0;
  top: calc(50% - 133px);
  background-color: var(--semi-dark-navy);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 120vw;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.board-state-announcement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.board-state-announcement p {
  white-space: nowrap;
}

.modal-buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-buttons-wrapper .button-1 {
  border-radius: 10px;
  font-weight: bold;
  width: 146px;
  height: 52px;
  -webkit-box-shadow: inset 0px -4px 0px #CC8B13;
          box-shadow: inset 0px -4px 0px #CC8B13;
}

.modal-buttons-wrapper .button-secondary-2 {
  border-radius: 10px;
  font-weight: bold;
  width: 76px;
  height: 52px;
  -webkit-box-shadow: inset 0px -4px 0px #6B8997;
          box-shadow: inset 0px -4px 0px #6B8997;
}

@media (max-width: 500px) {
  .new-game-menu {
    width: 100vw;
  }
  .mark-select {
    width: 90vw;
  }
  .mark-buttons-wrapper {
    width: 80vw;
  }
  .mark-buttons-wrapper button {
    width: 50%;
  }
  .new-game-buttons {
    width: 90vw;
  }
  .game-container {
    width: 90vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .game-footer {
    width: 100%;
  }
  .tracker {
    width: calc(80vw / 3);
  }
  .game-grid {
    width: 90vw;
    gap: 5vw;
  }
  .grid-box {
    width: calc(80vw / 3);
    height: calc(80vw / 3);
  }
  .board-state-announcement p {
    font-size: 24px;
    white-space: nowrap;
  }
  .board-state-announcement svg {
    width: 30px;
    height: 30px;
  }
}
/*# sourceMappingURL=App.css.map */