@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
:root {
  --light-blue: #31c3bd;
  --light-blue-hover: #65e9e4;
  --light-yellow: #f2b137;
  --light-yellow-hover: #ffc860;
  --dark-navy: #1a2a33;
  --semi-dark-navy: #1f3641;
  --silver: #a8bfc9;
  --silver-hover: #dbe8ed;
}

.bg-xo {
  background-image: url(../assets/icon-x-outline.svg);
}

.bg-oo {
  background-image: url(../assets/icon-o-outline.svg);
}

.bg-x {
  background-image: url(../assets/icon-x.svg);
}

.bg-o {
  background-image: url(../assets/icon-o.svg);
}

.heading-L {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 2.5px;
}

path {
  width: 100%;
  height: 100%;
}

.heading-M {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.heading-S {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.25px;
}

.heading-XS {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}

.body {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.8px;
}

.grey-border {
  background-color: #1F3641;
  -webkit-box-shadow: inset 0px -8px 0px #10212A;
          box-shadow: inset 0px -8px 0px #10212A;
  border-radius: 15px;
}

.grey-border-pressed {
  background-color: #1F3641;
  -webkit-box-shadow: inset 0px -4px 0px #10212A;
          box-shadow: inset 0px -4px 0px #10212A;
  border-radius: 15px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button p {
  margin-bottom: 8px;
}

.button-1 {
  width: 410px;
  height: 67px;
  border-radius: 15px;
  background-color: var(--light-yellow);
  color: var(--dark-navy);
  -webkit-box-shadow: inset 0px -8px 0px #CC8B13;
          box-shadow: inset 0px -8px 0px #CC8B13;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-1:hover {
  background-color: var(--light-yellow-hover);
  cursor: pointer;
}

.button-2 {
  width: 410px;
  height: 67px;
  border-radius: 15px;
  background-color: var(--light-blue);
  color: var(--dark-navy);
  -webkit-box-shadow: inset 0px -8px 0px #118C87;
          box-shadow: inset 0px -8px 0px #118C87;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-2:hover {
  background-color: var(--light-blue-hover);
  cursor: pointer;
}

.button-secondary-1 {
  width: 226px;
  height: 52px;
  border-radius: 10px;
  background-color: var(--light-yellow);
  color: var(--dark-navy);
  -webkit-box-shadow: inset 0px -4px 0px #CC8B13;
          box-shadow: inset 0px -4px 0px #CC8B13;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-secondary-1:hover {
  background-color: var(--light-yellow-hover);
  cursor: pointer;
}

.button-secondary-2 {
  width: 226px;
  height: 52px;
  border-radius: 10px;
  background-color: #A8BFC9;
  -webkit-box-shadow: inset 0px -4px 0px #6B8997;
          box-shadow: inset 0px -4px 0px #6B8997;
  color: var(--dark-navy);
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-secondary-2:hover {
  background-color: var(--silver-hover);
  cursor: pointer;
}

.button-secondary-1 {
  width: 226px;
  height: 52px;
  border-radius: 10px;
  background-color: var(--silver);
  -webkit-box-shadow: inset 0px -4px 0px #CC8B13;
          box-shadow: inset 0px -4px 0px #CC8B13;
  color: var(--dark-navy);
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-secondary-1:hover {
  background-color: var(--silver-hover);
  -webkit-box-shadow: inset 0px -4px 0px #6B8997;
          box-shadow: inset 0px -4px 0px #6B8997;
  cursor: pointer;
}

.button-square {
  width: 52px;
  height: 52px;
  border-radius: 10px;
  background-color: var(--silver);
  color: var(--dark-navy);
  -webkit-box-shadow: inset 0px -4px 0px #6B8997;
          box-shadow: inset 0px -4px 0px #6B8997;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-square:hover {
  background-color: var(--silver-hover);
  cursor: pointer;
}

.bg-silver {
  background-color: var(--silver);
}

.bg-dark-navy {
  background-color: var(--dark-navy);
  cursor: pointer;
}

.bg-semi-dark-navy {
  background-color: var(--semi-dark-navy);
}

.bg-dark-navy:hover {
  background-color: rgba(168, 191, 201, 0.05);
}

.fill-silver {
  fill: var(--silver);
}

.fill-dark-navy {
  fill: var(--dark-navy);
}

.color-light-yellow {
  color: var(--light-yellow);
}

.color-light-blue {
  color: var(--light-blue);
}

.color-silver {
  color: var(--silver);
}
/*# sourceMappingURL=utilities.css.map */